#not_my_chart {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  font-family: 'Dosis', sans-serif;
}

header {
  color: white;
  background-image: url("../img/headerbackground.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;

}

p {
  margin-top: 60px;
  text-align: center;
}


img {
  margin-left: 45px;
  height: 200px;
  width: 200px;
}

my_buttons {
  position: absolute;
}
button {
  margin-top: 40px;
  margin-left: 140px;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
}

#my_three_pictures {
  padding-top: 70px;
}

canvas {
 margin-left: 13%;
}
